@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/fonts/JetBrainsMono-Regular.woff2");
    font-weight: normal;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/fonts/JetBrainsMono-Bold.woff2");
    font-weight: bold;
}

body {
    font-family: "Inter", serif;
    background-color: #C76B0F;
    color: #F6D193;
    text-align: center;
}
h1 {
    font-family: "JetBrains Mono";
    font-size: 300%;
}
h2 {
    font-family: "JetBrains Mono";
    font-size: 250%;
    font-weight: normal;
}
p {
    font-size: 150%;
}